<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="nav-menu">
            <a routerLink="/products"><i class="pi pi-list"></i> All Products</a>
            <a routerLink="/categories"><i class="pi pi-server"></i> Categories</a>
            <a routerLink="/attributes"><i class="pi pi-book"></i> Attributes</a>
        </div>
    </div>

</div>